<!DOCTYPE html>
<html lang="en">
    <%- include('layout/link', {title: "detail"}); -%>


<body>
    <div class="container-fluid">
        <%- include('layout/header'); -%>
        <section class="body">
          <div class="row">
                <div class="col-md-8 col-sm-12">
                    <iframe  src="https://www.youtube.com/embed/<%=course.videoId%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <p><%= course.name%></p>
                 <p><%= course.desription%></p>
              </div>    
              </div>            
        </section>
  </div>
    
</body>
</html>